<!DOCTYPE html>
<html>
  <head>
    <style>
    p { background-color:silver; }
    header, footer, section {
      width:800px;text-align:center;
      margin:0 auto;rules:all;
    }
    section { background-color:azure; }
    header, footer { background-color:#DDCBCB; }
    table {
      border:none; 
      rules:all;margin:0 auto;
    }
    table td, table th { border: 1px solid black;padding:6px; }
    table tr { background-color:azure; }
    table th { background-color:#E0E0F8; }
    table caption { margin:8px; }
    </style>
    <!--page cache control-->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv='expires' content='0'>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv='pragma' content='no-cache'>
    <title>Index of $path</title>
    <script type="text/javascript" src="/f/v/js/jquery-1.10.2.js"></script>
    <script type="text/javascript">
      /* debug JSON parsing
      $.ajax({
        url: "../model/demo.json",
        dataType: 'json',
        success: function(result){
          alert("token recieved: " + result.current_dir);
        },
        error: function(request, textStatus, errorThrown) {
          alert(textStatus);
        },
        complete: function(request, textStatus) { //for additional info
          alert(request.responseText);
          alert(textStatus);
        }
      });
      */
      function normPath(p) { //no trailling '/', with prefix '/'
        var d = '/';
        var r = $.grep(p.split(d), function(e, i) {
          return (e.length !== 0); //remove empty string.
        }).join(d);
        r=d+r;
        console.log("normPath: \""+p+"\" \""+r+"\"");
        return r;
      }
      function concatPath(l, r) { //without prefix '/'
        return normPath(l+"/"+r);
      }
      function parentPath(p) {
        var d = '/';
        var a = $.grep(p.split(d), function(e, i) {
          return (e.length !== 0);
        });
        var c = a.pop();
        console.log("pop(): "+c);
        var r = a.join(d);
	 //remove last one.
        console.log("parentPath of \""+p+"\" is \""+r+"\"");
        return r;
      }
      // add row to tbody
      function addRow(t, e, d) {
        var r = $('<tr>');
        var d0 = $('<td>'); d0.appendTo(r);
        var d1 = $('<td>'); d1.text(e.size);  d1.appendTo(r);
        var d2 = $('<td>'); d2.text(e.mtime); d2.appendTo(r);
        var a = $('<a>'); a.text(e.name);
        if (e.type == "DIR") {
          if (".." == e.name)
            a.attr("href", "..");
          else if ("." == e.name)
            a.attr("href", ".");
          else
            a.attr("href", e.name+"/");
          a.text(e.name+"/");
          d1.text(" -- ");
        } else if (e.type=="REG") {
          a.attr("href", e.name);
        } else {
          a.attr("href", e.name+"#"); //XXX ???
        }
        a.appendTo(d0);
	r.appendTo(t);
      }
      // get model path.
      function p2m(s) {
        var a = $.grep(s.split('/'), function(e, i) {
          return (e.length != 0); //filter empty string.
        });
        if (a[0] == "f") a[0] = "m";
        var b = '/'+a.join('/');
        console.log("mpath="+b);
        return b;
      }
      // sort
      function sortByName(a, b) {
        return ((a.name < b.name) ? -1 : (a.name > b.name) ? 1 : 0);
      }
      // ready?
      $(function() {
        // "/m/LOCATIONs1", "/f/m/demo.json"
        var uri = window.location.pathname;
        document.title = "["+uri+"]";
	var jp = p2m(uri);
        console.log("JSON Path: "+jp);
        $.getJSON(jp, function(json) {
          console.log("Loaded: ");
          console.log(json);
          $('header').text("Index of "+json.current_dir);
          var tab = $('<table>');
          var cap = $('<caption>');
          cap.text("Directory: \""+json.current_dir+"\"");
          cap.appendTo(tab);
          var tbb = $('<tbody>'); tbb.appendTo(tab);
          //TODO sort file_list first.
          var list = json.file_list.sort(sortByName);
          var tr = $('<tr>');
          var th0 = $('<th>'); th0.text('Name');
          var th1 = $('<th>'); th1.text('Size');
          var th2 = $('<th>'); th2.text('Modified');
          tr.append(th0); tr.append(th1); tr.append(th2);
          tbb.append(tr);
          $.each(list, function(i, entry) {
            console.log("path=\""+entry.name+"\";uri=\""+uri+"\"");
            addRow(tbb, entry, uri+"/");
          });
          $('#content').text(''); //clear
          $('#content').append(tab);
        });
      });
    </script>
  </head>
  <body>
    <header>Index of $dir</header>
    <section id="content">File List:</section>
    <footer><b>Hayabusa/0.1 HTTP Server @ubuntu </b></footer>
  </body>
</html>
